.logo {
  line-height: 1.2;
  text-align: center;
  color: white;
  font-family: var(--font-subheading);
  font-size: 25vw;
  filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.4))
}

/* Small tablets/large phones */
@media (min-width: 640px) {
  .logo {
    font-size: 10rem;
  }
}
