<div
  class="flex items-center p-2 links rounded-full shadow-lg"
  [style.position]="position()"
  [class.fixed]="position() === 'fixed'"
>
  @if (config() === 'full' || config() === 'music') {
    @for (music of musicLinks; track music.id) {
      <a
        [href]="music.link"
        target="_blank"
        class="p-2 opacity-80 hover:opacity-100 hover:scale-110 transition duration-200 ease-in-out"
      >
        <img
          width="26"
          height="26"
          [class]="music.id"
          [ngSrc]="music.icon"
          [alt]="'Logo ' + music.id"
        />
      </a>
    }
  }
  @if (config() === 'full') {
    <div class="divider mx-2"></div>
  }
  @if (config() === 'full' || config() === 'social') {
    @for (social of socialMedia; track social.id) {
      <a
        [href]="social.link"
        target="_blank"
        class="p-2 opacity-80 hover:opacity-100 hover:scale-110 transition duration-200 ease-in-out"
      >
        <img
          width="26"
          height="26"
          [class]="social.id"
          [ngSrc]="social.icon"
          [alt]="'Logo ' + social.id"
        />
      </a>
    }
  }
</div>
