@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-display: swap;
  src: url(./../assets/fonts/material-symbols.woff2) format('woff');
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-display: swap;
  src: url(./../assets/fonts/Anton-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url(./../assets/fonts/ArchivoBlack-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: url(./../assets/fonts/Inter-VariableFont_opsz,wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  src: url(./../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf) format('truetype');
}
