.hero {
  width: 100%;
  position: relative;
  min-height: 300px;
}

.hero.fullscreen {
  height: 100vh;

  img.background-image {
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }

  img.logo {
    position: absolute;
    margin: auto auto;
  }
}

.icon-down {
  position: absolute;
  bottom: 6rem;
  left: calc(50% - 12px);
}
